@import "../abstracts/mixins";
@import "../abstracts/variables";

.paragraph-primary{
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    text-align: center;

    @include respond(phone) {
        line-height: 25px;
    }
    @include respond(tablet-port) {
        line-height: 25px;
    }
    @include respond(tablet-land) {
        line-height: 25px;
    }
}